<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rajan.easyspot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rajan.easyspot.About"></activity>
        <activity android:name="com.rajan.easyspot.QrCodeGenerator"></activity>
        <activity android:name="com.rajan.easyspot.QrBarCodeScanner" />
        <activity android:name="com.rajan.easyspot.EventActivity" />
        <activity android:name="com.rajan.easyspot.EventsActivity" />
        <activity android:name="com.rajan.easyspot.BookActivity" />
        <activity android:name="com.rajan.easyspot.BooksActivity" />
        <activity android:name="com.rajan.easyspot.Dashboard" />
        <activity android:name="com.rajan.easyspot.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name="com.rajan.easyspot.Register"></activity>
        <activity android:name="com.rajan.easyspot.Login" />
    </application>
</manifest>